.background {
  width: 100%;
  margin-bottom: 30px;
}
.background-info {
  width: 100%;
  position: relative;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.video {
  width: 100%;
  opacity: 0.9;
}
#typing-text {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  z-index: 10;
  text-transform: uppercase;
}
.background-subs {
  background-color: #f4f4f4;
}
.background-subs-wrapper {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}
.subs-thumb {
  max-width: 50%;
}
.subs-thumb-img {
  width: 100%;
}
.subs-name {
  font-size: 2rem;
}
.subs-input {
  display: flex;
  flex-direction: column;
}
.input {
  font-size: 1.5rem;
  padding: 5px 20px;
  margin-top: 40px;
  letter-spacing: 2px;
  border: transparent;
  background-color: #f4f4f4;
  outline: none;
  border-bottom: 1px solid black;
}
.btn-accept {
  margin: 40px 100px;
  font-size: 1.5rem;
  padding: 5px 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: #f4f4f4;
}
.btn-accept:hover {
  background-color: rgba(204, 204, 204, 0.3);
  transition: all 0.3s ease-in-out;
  border-radius: 100vh;
  text-decoration: underline;
}
/* Responsive */
@media screen and (max-width: 1281px) {
  .background-subs-wrapper {
    width: 100%;
  }
  #typing-text {
    font-size: 2rem;
  }
}
@media screen and (max-width: 769px) {
  .background-subs {
    height: 100%;
  }
  .background-subs-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  .subs-thumb {
    min-width: 100%;
  }
  .subs-thumb-img {
    width: 100%;
  }
  .subs-form {
    padding: 30px;
  }
  .video {
    padding-top: 70px;
  }
  .subs-name {
    margin-top: 30px;
    text-align: center;
  }
}
@media screen and (max-width: 601px) {
  .video {
    object-position: 25% 30%;
  }
  #typing-text {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 376px) {
  .subs-name {
    font-size: 1rem;
  }
  .btn-accept {
    margin: 40px 0;
  }
  .video {
    object-position: 25% 10%;
  }
  #typing-text {
    font-size: 1rem;
    margin-top: 80px;
  }
}
