.background {
  margin-bottom: 30px;
}
.background-vid {
  width: 100%;
}
.video {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.9;
}
.text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 10px;
}
#typing-text {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  line-height: 3.1rem;
  z-index: 10;
  text-transform: uppercase;
}
.background-subs {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  margin-top: -3px;
  height: 550px;
  padding: 0 30px;
}
.background-subs-wrapper {
  width: 60vw;
  display: flex;
  justify-content: space-between;
}
.subs-thumb {
  width: 50%;
}
.subs-thumb-img {
  width: 100%;
}
.subs-name {
  font-size: 2rem;
}
.subs-input {
  display: flex;
  flex-direction: column;
}
.input {
  font-size: 1.5rem;
  padding: 5px 20px;
  margin-top: 40px;
  letter-spacing: 2px;
  border: transparent;
  background-color: #f4f4f4;
  outline: none;
  border-bottom: 1px solid black;
}
.btn-accept {
  margin: 40px 100px;
  font-size: 1.5rem;
  padding: 5px 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: #f4f4f4;
}
.btn-accept:hover {
  background-color: rgba(204, 204, 204, 0.3);
  transition: all 0.3s ease-in-out;
  border-radius: 100vh;
  text-decoration: underline;
}
/* Responsive */
@media screen and (max-width: 1281px) {
  .background-subs-wrapper {
    width: 90vw;
  }
  .text {
    top: 40%;
  }
  #typing-text {
    font-size: 2rem;
  }
}
@media screen and (max-width: 769px) {
  .background-subs {
    margin-top: 0;
    height: 100vh;
  }
  .background-subs-wrapper {
    display: block;
    width: 100vw;
    height: 100vh;
    margin-top: 30px;
    padding: 20px;
  }
  .subs-thumb {
    width: 100%;
  }
  .video {
    object-fit: none;
    object-position: 20% 50%;
  }
  .subs-name {
    margin-top: 30px;
    text-align: center;
  }
}
@media screen and (max-width: 601px) {
  .video {
    object-position: 25% 30%;
  }
  #typing-text {
    font-size: 1.5rem;
    margin-top: 50%;
  }
}
@media screen and (max-width: 376px) {
  .subs-name {
    font-size: 1rem;
  }
  .btn-accept {
    margin: 40px 0;
  }
  .video {
    object-position: 25% 10%;
  }
  #typing-text {
    font-size: 1rem;
  }
}
