@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Reset CSS to default */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}
input,
button,
select,
textarea {
  font: inherit;
}
img,
picture {
  display: block;
  max-width: 100%;
}

/* CSS */
* {
  font-size: 62.5%;
  font-family: Poppins;
}
.body {
  width: 1200px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #fff;
}
.wrapper {
  position: relative;
  height: 100%;
  background-color: #f4f4f4;
  padding-bottom: 30px;
}
.product-review {
  width: 35%;
  margin-left: 10%;
}
.product-review-img {
  width: 100%;
}
.product-slider {
  display: flex;
  margin-left: 19%;
  width: 400px;
}
.product-slider-img {
  width: 20%;
  margin-right: 20px;
  cursor: pointer;
}
.product-slider-img:first-child {
  border: 1px solid black;
}
.desc {
  position: absolute;
  display: block;
  top: 10%;
  right: 3%;
  max-width: 40%;
}
.desc-name {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 50px;
}
.desc-info {
  font-size: 1.5rem;
  line-height: 2rem;
}
.hidden {
  font-size: 1.5rem;
  line-height: 1.6rem;
  display: none;
}
.title-name {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
}
.seeless {
  display: none;
}
#sizeSelect {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  margin-left: -4px;
  border-bottom: 1px solid black;
  font-size: 1.3rem;
  background-color: transparent;
}
.waresize {
  user-select: none;
  cursor: unset;
}
option {
  font-size: 1.3rem;
}
.btnBuy {
  width: 50%;
  height: 35px;
  position: absolute;
  left: 25%;
  top: 100%;
  margin-top: 20px;
  font-size: 1.3rem;
  padding: 5px 0;
  font-weight: 500;
  color: #fff;
  background-color: #000;
  outline: none;
  border: none;
  cursor: pointer;
}
.findStore {
  position: absolute;
  right: 0;
  top: 130%;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #333;
  text-decoration: underline;
  cursor: pointer;
}
/* .product-slider-img:active,
.product-slider-img:first-child {
  border: 1px solid black;
} */
.header-brand {
  position: fixed;
  left: 1%;
  top: 2%;
  z-index: 10;
}
.logo {
  width: 200px;
}
.header-brand-nav {
  list-style-type: none;
  margin-top: 40px;
  position: fixed;
  top: 6%;
  left: 1%;
  z-index: 10;
}
.header-brand-nav-link {
  text-decoration: none;
  font-size: 1.3rem;
  margin: 5px 10px;
  color: #333;
  font-weight: 500;
  line-height: 1.3rem;
}
.header-more {
  position: fixed;
  top: 2%;
  right: 1%;
  z-index: 10;
}
.icon-img {
  font-size: 2rem;
  cursor: pointer;
}
.icon-img.hidden {
  display: none;
}
.footer {
  width: 98%;
  display: flex;
  justify-content: space-between;
  margin: 0 20px 10px;
}
.footer-column {
  list-style-type: none;
}
.footer-column-item-link {
  font-size: 1.3rem;
  line-height: 1.3rem;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.header-more-search {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease;
  background-color: transparent;
  padding-right: 4rem;
  color: #000;
}
.input-search::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 100;
}
.btn-search {
  width: 40px;
  height: 40px;
  border-style: none;
  font-size: 1.7rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #000000;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search,
.input-search:focus {
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}
.search-img {
  font-size: 1.5rem;
  padding: 16px;
}
/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  display: none;
}
.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  width: 600px;
  height: 300px;
  background-color: #f4f4f4;
  position: relative;
  z-index: 12;
  margin: 15% auto;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.modal-content-title h1 {
  font-size: 3rem;
  line-height: 3rem;
  margin-top: 15px;
}
.modal-content-note h2 {
  font-size: 1rem;
  margin: 10px 0;
  font-weight: 500;
}
.form-user {
  font-size: 1.8rem;
}
.modal-content-form {
  margin: 10px 0;
}
.user-input {
  width: 200px;
  height: 30px;
  font-size: 1.4rem;
  padding: 10px;
  margin-left: 10px;
}
.accept-checker {
  font-size: 1.3rem;
}
.btnAccept {
  width: 150px;
  height: 35px;
  font-size: 1.3rem;
  color: #fff;
  background-color: #000;
  border: none;
  cursor: pointer;
}
.modal-exit {
  position: absolute;
  font-size: 4rem;
  right: 3%;
  top: 0;
  z-index: 12;
  cursor: pointer;
}
/* Responsive */
@media screen and (max-width: 1290px) {
  .body {
    width: 1000px;
  }
}
@media screen and (max-width: 769px) {
  .body {
    width: calc(100vw - 5vw);
  }
  .wrapper {
    height: 110vh;
  }
  .header-wrapper {
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 10;
  }
  .header-brand,
  .header-more {
    position: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px 7px 20px;
  }
  .header-brand-nav {
    display: none;
  }
  .body-background-img {
    padding-top: 50px;
  }
  .logo {
    width: 120px;
  }
  .icon-img.hidden {
    display: flex;
    margin-left: 10px;
    margin-top: -3px;
    align-items: center;
  }
  .body-news {
    left: 40%;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-column {
    margin: 10px 0;
  }
  .desc {
    position: unset;
    max-width: 100%;
    text-align: center;
    padding: 10px;
  }
  .product-review {
    width: 40%;
    margin: 0 auto;
  }
  .product-review-img {
    padding-top: 30px;
  }
  .product-slider {
    margin-left: 37%;
  }
  .desc-name {
    margin-top: 30px;
  }
  #sizeSelect {
    width: 90%;
  }
  .btnBuy {
    position: unset;
    margin-left: 10%;
  }
  .findStore {
    position: unset;
    float: right;
    margin-top: 70px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 610px) {
  .wrapper {
    height: 130vh;
  }
  .btnBuy {
    margin-left: 15%;
  }
}
@media screen and (max-width: 415px) {
  .body-news-title {
    font-size: 1.5rem;
  }
  .body-news-link {
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
  }
  .footer-column-item-link {
    font-size: 1rem;
  }
  .desc-name {
    font-size: 1.4rem;
  }
  .desc-info,
  .hidden,
  .title-name {
    font-size: 1.3rem;
  }
  .btnBuy {
    margin-left: 25%;
  }
}
@media screen and (max-width: 376px) {
  .wrapper {
    height: 140vh;
  }
  .footer-column-item-link {
    font-size: 0.7rem;
  }
}
