.body {
  width: 65%;
  height: 100%;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 30px;
}
.img-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.product-review {
  width: 75%;
}
.product-review-img {
  width: 100%;
}
.product-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.product-slider-img {
  width: 20%;
  cursor: pointer;
}
.product-slider-img:first-child {
  border: 1px solid black;
}
.desc {
  margin-top: 70px;
  width: 40%;
}
.desc-name {
  font-size: 1.5rem;
  margin-bottom: 50px;
}
.desc-info {
  font-size: 1.5rem;
  line-height: 2rem;
}
.hidden {
  font-size: 1.5rem;
  line-height: 1.6rem;
  display: none;
}
.title-name {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
}
.seeless {
  display: none;
}
#sizeSelect {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  margin-left: -4px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  font-size: 1.3rem;
  background-color: transparent;
}
.waresize {
  user-select: none;
  cursor: unset;
}
option {
  font-size: 1.3rem;
}
.btnBuy {
  width: 100%;
  font-size: 1.3rem;
  padding: 5px 20px;
  font-weight: 500;
  color: #fff;
  background-color: #000;
  outline: none;
  border: none;
  cursor: pointer;
}
.findStore {
  float: right;
  margin: 20px 0;
  font-size: 1rem;
  color: #333;
  text-decoration: underline;
  cursor: pointer;
}
/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  display: none;
}
.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#img {
  cursor: pointer;
}
.modal-big-img {
  position: relative;
  border-radius: 5px;
  width: 30%;
  margin: 0 auto;
  z-index: 12;
  display: none;
}
#big-img-src {
  width: 100%;
}
.modal-content {
  width: 600px;
  background-color: #f4f4f4;
  position: relative;
  z-index: 12;
  margin: 15% auto;
  padding: 30px;
  border-radius: 5px;
  display: none;
}
.modal-content-title h1 {
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
}
.modal-content-note h2 {
  font-size: 1rem;
  margin: 10px 0;
  font-weight: 500;
  text-align: center;
}
.form-user {
  font-size: 1.3rem;
}
.form-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.user-input {
  width: 70%;
  height: 20px;
  font-size: 1.3rem;
  padding: 10px;
  margin-left: 30px;
}
.accept-checker {
  font-size: 1.3rem;
}
.btnAccept {
  width: 100%;
  height: 35px;
  font-size: 1.3rem;
  color: #fff;
  background-color: #000;
  border: none;
  cursor: pointer;
}
.form-checked {
  margin: 10px 0;
  text-align: center;
}
.modal-exit {
  position: absolute;
  font-size: 4rem;
  right: 3%;
  top: 0;
  z-index: 12;
  cursor: pointer;
}
/* Responsive */
@media screen and (max-width: 769px) {
  .body {
    width: 100%;
  }
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-area {
    width: 70%;
  }
  .desc {
    margin: 0;
    width: 100%;
  }
  .desc-name {
    text-align: center;
  }
  .modal-content {
    width: 80vw;
  }
  #img-big {
    width: 70%;
  }
  #big-img-src {
    width: 100%;
    margin: 70px auto;
  }
}
@media screen and (max-width: 510px) {
  .user-input {
    max-width: 50vw;
  }
  #big-img-src {
    width: 80%;
  }
  .product-review {
    padding: 20px;
  }
  #img-big {
    width: 70%;
  }
  #big-img-src {
    width: 100%;
    margin: 0 auto;
    margin: 70px 0;
  }
  #img {
    padding-top: 10px;
  }
}
